* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

p, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100vh;
}

.header {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr;
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.5);

}

.header-up {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 5px;
    padding: 5px 15px
}

.searchbar {
    flex-basis: 800px;
    background-color: #E2E8F0;
    height: 30px;
    border-radius: 20px;
    margin-right: auto;
    border: none;
    font-size: inherit;
}

.searchbar:active {
    outline: 2px solid #1A92D5;
}

.header-up .profile-picture {
        border-radius: 50%;
        width: 40px;
        height: 40px;
}

.profile-name {
    font-weight: bold;
    font-size: 1.2rem;
}

.header-down {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px 15px
}

.header-down .profile-picture {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.greeting {
    margin-right: auto;
}

.greeting p {
    margin: 0;
    padding: 0;
}

.greeting .salutation {
    font-weight: bold;
}

.greeting .nickname {
    font-weight: bold;
    font-size: 1.8rem;
}

.header button {
    font-size: inherit;
    background-color: #1A92D5;
    color: white;
    padding: 7px 25px;
    border-radius: 20px;
    border: 1px solid white;
    font-weight: bold;
}

.header button:hover {
background-color: white;
color: #1A92D5;
border: 1px solid #1A92D5;
}

.sidebar {
    background-color: #1A92D5;
    color: white;
}

.logo {
    display: grid;
    grid-template-columns: 60px auto;
    align-items: center;
    padding: 20px;
}

.sidebar-menu {
    display: grid;
    grid-template-columns: 30px auto;
    grid-template-rows: repeat(10, 30px);
    align-items: center;
    padding: 40px;
    gap: 15px;
}

.sidebar-menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.sidebar-menu a:hover {
    color: white;
    text-decoration: underline;
}

.main {
    display: grid;
    grid-template-rows: 1fr 5fr;
    background-color: #E2E8F0;
    overflow: scroll;
}

.main h2 {
    padding: 15px 0px 10px 5px;
    font-size: 1.4rem;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 0px 20px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 6vh 200px;
    grid-auto-rows: 200px;
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.project {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.5);
    border-left: 10px solid #F48301;
    display: flex;
    flex-direction: column;
}

.project .icons {
    margin-top: auto;
    align-self: flex-end;
}

.icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.icons img {
    width: 25px;

}

.project p {
    color: gray;
}

.project-header {
    grid-column: 1 / -1;
}

.news {
    display: flex;
    flex-direction: column;

}

.announcements-content {
    background-color: white;
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.5);
    padding: 20px 30px;
    display: grid;
    gap: 15px;
}

.announcements .headline {
    font-weight: bold;
    padding: 5px 0px;
}

.announcements hr {
    margin-top: 15px;
    color: #E2E8F0;
}

.trending-content {
    background-color: white;
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.5);
    padding: 20px 30px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    align-items: center;
}

.trending-content img {
    border-radius: 50%;
    width: 55px;
}

.trending-item p:first-of-type {
    font-weight: bold;
}

.trending-item p:last-of-type {
    color: gray;
}