* {
    box-sizing: border-box;
    border: 1px solid red;
}

body {
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100vh;
}

.main {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.news {
    display: grid;
    grid-template-rows: 1fr 1fr;
}